[user]
	name = Rune Lausen
	email = {{ .email | quote }}
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	editor = nvim
	; filemode = false
[alias]
	ci = commit
	co = checkout
	distclean = "!f(){ git clean $1 && git submodule foreach --recursive git clean $1; };f"
	substat = submodule status --recursive
	subsync = submodule sync --recursive
	subup = submodule update --init --recursive
	stat = status -s
	undomerge = merge --abort
	ctags = !.git/hooks/ctags
	wt = worktree
[merge]
	tool = opendiff
[push]
	default = simple
[init]
	templatedir = ~/.git_templates
	defaultBranch = main
[gpg]
	format = ssh
[url "git@github.com:"]
	insteadOf = https://github.com/
