{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh
pacman -Sy
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
pacman -S --noconfirm \
  bat \
  clang \
  direnv \
  dotnet-sdk \
  eza \
  fd \
  fzf \
  gcc \
  github-cli \
  go \
  jq \
  lazygit \
  less \
  mise \
  neovim \
  npm \
  ripgrep \
  ruff \
  starship \
  thefuck \
  tmux \
  ttf-nerd-fonts-symbols-mono \
  unzip \
  uv \
  wezterm \
  zip \
  zoxide \
  zsh
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install bat direnv eza fd fzf gh jq lazygit mise neovim ripgrep ruff starship thefuck tmux uv zoxide
{{ end -}}
