{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/sh
pacman -Sy
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh
pacman -S --noconfirm \
  bat \
  clang \
  difftastic \
  direnv \
  dotnet-sdk \
  eza \
  fastfetch \
  fd \
  fzf \
  gcc \
  github-cli \
  go \
  jq \
  lazygit \
  less \
  mise \
  neovim \
  npm \
  ripgrep \
  ruff \
  starship \
  thefuck \
  tmux \
  tree \
  ttf-nerd-fonts-symbols-mono \
  unzip \
  uv \
  wezterm \
  wget \
  yarn \
  zip \
  zoxide \
  zsh
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install \
  awscli \
  azure-cli \
  bat \
  devcontainer \
  difftastic \
  direnv \
  dotnet \
  eza \
  fastfetch \
  fd \
  fzf \
  gh \
  git \
  git-delta \
  go \
  jq \
  lazygit \
  mise \
  neovim \
  ripgrep \
  ruff \
  starship \
  thefuck \
  tmux \
  tree \
  uv \
  wget \
  yarn \
  zoxide
{{ end -}}
